body {
  margin-top: 120px;
}

.dropdown-toggle::after {
  content: none !important;
}

.card-img,
.card-img-top {
  object-fit: contain;
}

.btn-primary {
  background-color: transparent;
  border: transparent;
}

.btn-primary:hover {
  background-color: transparent;
  border: transparent;
}

.btn:first-child:active {
  background-color: transparent;
  border: transparent;
}

.btn.show {
  background-color: transparent;
  border: transparent;
}

.icons-size {
  font-size: 25px;
}

.cart-img {
  height: clamp(8vh, 7vh, 5vh);
  width: clamp(8vh, 7vh, 5vh);
  object-fit: contain;
  padding: 5px;
}
